# macOS
.DS_Store
__RELEASES__
bin/

# vim/emacs
*~

# Xcode
build/
DerivedData/
dist/
project.xcworkspace/
xcuserdata/
*.o
*.Plo
*.lo
config.log
config.status


*.gcda
*.gcno

!**/Carthage/Build
Artifacts
DemoApp/Config-private.xcconfig

